Refactoring Class ReplyHandler

**Classes and functions affected**
class ReplyHandler

**Tests cases to implement**
only to type of response
- numeric (Numériques (RFC 2812 §5))
- fromuser (Commandes « user-like » (JOIN, PRIVMSG, INVITE, etc.))

[chapter response](https://www.rfc-editor.org/rfc/rfc2812#section-5)


**sequence of response**

*exemple*
- numeric = `:server <code> <nick> [params] :<text>`
- from user = `:<prefix> <command> [params] :<text>`

